<!doctype html>

<head>
    <title>Home Page</title>
</head>
<body bgcolor="#E6E6FA">

<title>My search page!</title>

<h1>Welcome to my search page!</h1>

<p>Please use queries that have the words 'dog' or 'cat' in them <P>

<form action="/results" method="get">
    <dl>
        <dt>Query:</dt>
        <dd><input type="text" name="query"></dd>
        <dd><button type="submit" value="Search">Search</button></dd>
        <dd><input type="hidden" name="page" value="1"></dd>
    </dl>
</form>


</body>
